body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.switch-container {
  display: flex;
  align-items: center; /* Align items vertically */
  width: 150px; /* Adjust the width as needed */
  padding: 10px; /* Add padding as needed */
}

.label-left {
  margin-right: 10px; /* Add some spacing between the label and switch */
}

.switch {
  height         : 20px;                /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : 24px;                /* 文字サイズ         */

  position       : relative;            /* 親要素が基点       */
  margin-left    : auto;                /* Move the toggle to the right */
  /*display        : inline-block;*/
  width          : 40px;                /* ボタンの横幅       */
  background     : #fff;              /* デフォルト背景色   */
}

.switch input {
  opacity: 0;                            /* チェックボックス非表示 */
  width: 0;
  height: 0;
}

.slider {
  position: absolute;                    /* 親要素からの相対位置*/
  cursor: pointer;                       
  top: 0;                                /* 親要素からの位置   */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;             /* 角丸               */
}

.slider:before {
  position: absolute;              /* 親要素からの相対位置*/
  content: "";
  height: 16px;                    /* 丸の高さ           */
  width: 16px;                     /* 丸の横幅           */
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
input:checked + .slider {
  background-color: #78bd78; /* カーソルタブの背景 */
}

input:checked + .slider:before {
  transform: translateX(20px);
}